---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}" class="read-more"> {{ post.title }} </a></h1>
       <p>{{ post.description_text }}<p>     
 	<div>
	<span>Posted on </span><span class="post-meta">{{ post.date | date: "%B %-d, %Y" }}</span>
					</div>
  <div class="entry-content">
      {{ post.excerpt }}
      {% if post.content contains "<!-- more -->" %}
          <div align="center">
              <div markdown="0"><a href="{{ site.url }}{{ post.url }}" class="btn btn-info">Continue Reading ...</a></div>
          </div>
      {% endif %}
  </div><!-- /.entry-content -->

      <div class="entry">
        <!-- {{ post.excerpt }} -->
      </div>

      <!-- <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">(...)</a> -->
    </article>
  {% endfor %}
</div>
