---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}" class="read-more"> {{ post.title }} </a></h1>
       <p>{{ post.description_text }}<p>     
 	<div>
	<span>Posted on </span><span class="post-meta">{{ post.date | date: "%B %-d, %Y" }}</span>
					</div>
  <div class="entry-content">
{{ post.summary }}
       <p>
	            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">Read More &raquo;</a>
	          </p>
	    <span>[
  {% for tag in page.tags %}
    {% capture tag_name %}{{ tag }}{% endcapture %}
    <a href="/tag/{{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
  {% endfor %}
]</span>
  </div><!-- /.entry-content -->

      <div class="entry">
        <!-- {{ post.excerpt }} -->
      </div>

      <!-- <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">(...)</a> -->
    </article>
  {% endfor %}
</div>
